*.json
*.pyc
__pycache__
data/*/*
!data/trivia/*
!data/audio/playlists/*
*.exe
*.dll
!data/bias/settings.json
!data/red/cogs.json
!data/mod/settings.json
!data/welcome/settings.json
!data/alias/aliases.json
