pip
git+git://github.com/Rapptz/discord.py.git#egg=discord.py[voice]
youtube_dl
imgurpython
tweepy
facebook-sdk
google-api-python-client
bs4
feedparser
psutil
requests-toolbelt
ftfy
dota2py
lxml
tabulate